* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: TT Trailers Trial Black;
    src: url(../fonts/tt_trailers/TT\ Trailers\ Trial\ Black.ttf) format("truetype");

}

@font-face {
    font-family: TT-Norms-Std-Trial-Condensed-Bold;
    src: url(../fonts/tt-norms-std-condensed-font-family/TT-Norms-Std-Trial-Condensed-Bold.otf) format("opentype");
}


body {
    background-color: #f0faf6;
}

h1 {
    width: 100%;
    font-family: TT Trailers Trial Black;
    font-size: 66px;
}

header {
    height: 108.2px;
    width: 100%;
    background-color: #1f2937;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    padding: 0 80px;
}
section {
    display: flex;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 50px 0;
    
}



.logo {
    margin: 0;
    width: 89.7px;
    height: 89.7px;
}
.logo:hover{
    transform: scale(1.05);
}
nav {
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
}

nav a {
    font-family: TT-Norms-Std-Trial-Condensed-Bold;
    color: #F9FAFB;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
}

nav a:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

.hero {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    margin: 30px;
    height: 80%;
}

.hero-img {
    
    width: 531.8px;
    border-radius: 65px;

    
}


.text-hero {

    display: grid;
    align-items: center;
    gap: 30px;

}

.btn {
    justify-self: start;
    
    background: #10B981;
    color: white;
    text-decoration: none;
    
    padding: 16px 28px;
    border-radius: 999px;
    width: 296.5px;
    
    font-size: 15.9px;
    font-weight: bold;
    
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    opacity: 0.8;
}



/*----------------------------------------------segunda section-----------------------------------------------------------------------------------------------------*/


.adocao {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}

.petsad{
    display: grid;
    justify-items: center; 
    align-items: center;
    
    gap: 10px;
}

.petsad a{
    cursor: pointer;
    text-decoration: none;
    color:#1f2937;
}

.petsad h1 {
    text-align:center;
}

.petsad img{
    border-radius: 20px;
    border:4px solid #1f2937;
}

.dog{
    justify-self: baseline;
}

.petsad a:hover {
    transform: scale(1.03);
    transition: transform .2s ease;
}

/*----------------------------------------terceira section----------------------------------------------------------------- */
    
.text-section{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}
.text  {
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    margin-top: 20px;
}
.text h1{
    display: grid;
    font-size: 50px;
    
}
.text p{
    font-size: 21px;
}

.imghug{
    display: grid;
    justify-content: center;
    align-items: center;
   
    width: 593px;
}
.imgmenina{
    width: 100%;
    border-radius: 20px;
}
.insta{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1f2937; 
    text-decoration: none;
    font-size: 18px;
}

.insta i{
    color: #E1306C;
    font-size: 40px;
}

.insta:hover{
    transform: scale(1.01);
    opacity: .8;
}


.contato{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start; 
}
.textcontato{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    gap: 16px;

}

.Imagecontato{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Imagecontato img{
    width: 460px;
    border-radius: 20px;
}
/*-------------------------------------footer------------------------*/

.footer{
    height: 30vh;
    width: 100%;
    background-color: #1f2937;


}




